<!doctype html>
<html>
  <head>
    <title>用户中心</title>
  </head>
  <body>
    <form method="post" action="/v1/user/login">
      <label for="username">Username: </label>
      <input type="text" id="username" name="username" />
      <input type="submit" value="Submit">
    </form>
  </body>
</html>